
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header{
  background-color: #3399ff;
  margin-top: 0;
  padding: 3px;
  width: 100%;
  border-radius: 20px;
  
}
.bg{
  background-color: red;
  display : flex;
  width: 50px;
}
*{
  font-family: serif ;
}
.fs{
  font-size: 25px;
}
.fsh{
  font-size: 40px;
  padding: auto;
  text-align: center;
  background-color: yellow;
}
.center{
  text-align: center;
}
a{
  text-decoration: none;
  color: white ;
 
}
footer{

}
hr{
  border: 2px solid green;
}

.left{
  float: right;
}
li{
  font-size: 20px;
 font-weight: bold;
}

.im1{
  width: 100%;
}
.footer{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}